body{
    background-color: #6962AD;
}

#container-image{
    position: relative;
    left: 120px;
}

h2{
    color: #ff7276;
    font-size: 150px;
    height: 100%;
    background-color: transparent;
    font-family: 'Nerko One', sans-serif;
    position: relative;
    top: 275px;
    right: 55px;
    transform: rotate(-10deg);
}

p{
    color: #ff7276;
}

#button{
    background-color: #10073e;
    padding: 10px 45px;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}

#button:hover{
    background-color: #201036;
}