body{
    background-color: #6962AD;
}

h2{
    color: #ff7276;
    font-size: 90px;
    height: 100%;
    background-color: transparent;
    font-family: 'Nerko One', sans-serif;
    position: relative;
    top: 330px;
    right: 45px;
    transform: rotate(-10deg);
}

#button{
    background-color: #10073e;
    padding: 10px 45px;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}

#button:hover{
    background-color: #201036;
}